html {
	font-family: "Grenze Gotisch", serif;
	background-color: #8abbb8;
}

nav a:hover {
color: whitesmoke;
font-size: 35px;
font-weight: bold;
}

nav a {
	color: lightgrey;
	text-decoration: none;
	font-size: 35px;
	font-weight: bold;

}

nav a:active{
	font-size: 35px;
	font-size: 35px
	font-weight: bold;
	text-decoration: underline;
}

.main-button {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2ch;
	border-radius: 30px;
	margin-bottom: 70px;
	margin-top: 10px;
	margin-bottom: 15px;
	.current a {
		background-color: darkred;
		color: white;
		}
		.subpage-button a {
	background-color: #8abbb8;
	color: darkred;
	font-size: 28px;
		}

	.subpage-button-current a {
		background-color: lightgrey;
		color: darkred;
		font-size: 28px;
}

	.subpage-button-current a:hover {
		background-color: lightgrey;
		color: darkred;
		font-size: 28px;
		text-decoration: underline;
}


	}

	.subpage-button a:hover {
		background-color: lightgrey;
	}
.subpage-button-current a {
		background-color: lightgrey;
		color: darkred;
		font-size: 28px;
}


.main-button a {
	display: flex;
	background-color: #0b4d5e;
	gap: 3ch;
	border-radius: 40px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;

}

body {
	margin-left: 20%;
	margin-right: 20%;
}



.details summary:hover {
	list-style: none;
	font-size: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0;
	text-decoration: underline;
	}



.details {
	list-style: none;
	margin-left: 0;
	padding-left: 4px;
	font-size: 15px;
}

.details summary {
	list-style: none;
	font-size: 15px;
	border-radius: 10px;
	padding-left: 0;
	margin-left: 0;
}

.angebote {
list-style: none;
padding: 0;
margin: 0;
max-width: 400px;
}

.pic {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	gap: 30px;
	padding-left: 0;
	margin-left: 0;
	padding-top: 25px;
	border-radius: 8px;
	}


.pic img {
	max-width: 200px;
	max-height: 165px;
	list-style: none;
	gap: 10px;
	padding-left: 0;
	margin-left: 0;
	padding-top: 0;
	border-radius: 8px;
}


figure {
	padding: 4;
	margin: 0;

	}

.pic-group {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	
}

.employee summary {
		display: flex;
		list-style: none;
		flex-wrap: nowrap;
		gap: 30px;
		padding-left: 0;
		margin-left: 0;
		padding-top: 25px;
		border-radius: 8px;
		min-width: 200px;
		flex-wrap: wrap;
		max-width: 800px;
}

.employee {
	display: flex;
	list-style: none;
	flex-wrap: nowrap;

}

.employee-text {
		list-style: none;
		flex-wrap: nowrap;
		gap: 30px;
		padding-left: 30px;
		margin-left: 0;
		padding-top: 25px;
		border-radius: 8px;
		max-width: 100%;
}


.pic-group img {
	height: auto;
	border-radius: 8px;
	width: 100%;
}

.pic-start { 
	display: block;
	padding: 0;
	margin: 0;
	width: 100vw;
	margin-left: calc(-20vw);
}
.pic-start img {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}


.pic-product {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	gap: 30px;
	padding-left: 0;
	margin-left: 0;
}

.pic-product img {
border-radius: 8px;
width: 400px;

}

tr {
	text-align: left;
	vertical-align: left;
}

.table-content {
	font-weight: 400;
	padding-left: 10px;
}


.table-time {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	gap: 30px;
	padding-left: 0;
	padding-right: 30px;
	margin-left: 0;
}

.basic a {
color: darkred;
text-decoration: none;
}

.basic a:hover {
color: darkred;
text-decoration: underline;
}

.basic a:active {
color: mistyrose;
text-decoration: underline;
}


.subpage-link a {
color: darkred;
text-decoration: none;
padding-bottom:40px;
}

.subpage-link a:hover {
color: darkred;
text-decoration: underline;
}

.subpage-link a:active {
color: darkred;
text-decoration: underline;
}

.subpage-detail {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	width: 200px;
}
.subpage-detail strong {
	font-size: 20px;
}

.subpage-detail li {
	color: black;
	font-size: 14px;
	list-style: square;
	padding-left: 2px;
	margin-left: 18px;
	width: 178px;
}

.short-info {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	padding-top: 6px;
}

.short-info-details a {
text-decoration: none;
color: darkred;
font-size: 14px;
}

.short-info-details a:hover {
text-decoration: underline;
color: darkred;
font-size: 14px;
}

.short-info-details a:active {
text-decoration: underline;
color: darkred;
font-size: 14px;
}

.side-note summary {
	color: #545454;
	font-size: 14px;
	list-style: none;
	padding-top: 10px;
}

.side-note {
	color: #545454;
	font-size: 14px;
	list-style: square;
}

.pic-product-detail {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	gap: 30px;
	padding-left: 0;
	margin-left: 0;
}

.pic-product-detail img {
	border-radius: 8px;
	width: 200px;
}

.price-ex {
	display: flex;
	width: 40px;
	background-color: darkred;
	border-radius: 30px;
	color: white;
	font-size: 9px;
	padding-left: 13px;
	padding-right: 1px;
	padding-bottom: 4px;
	padding-top: 4px;
	font-family: "Noto Sans KR", sans-serif;
}

.price-ex strong {
	font-size: 13px;
}

.title-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.title-price p {
max-width: 145px;
padding-right: 13px;
}

.container-detail {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.welcome {
	font-size: 20px;
	margin-bottom: 50px;
}

.welcome p {
	font-size: 25px;

}

.job-description ul {
	list-style: square;
}

.job-description {
	font-size: 20px;
	max-width: 70rem;
	padding-left: 0;
	margin-left: 0;
	padding-top: 6px;
	gap: 20px;
}


.pic-job img {
	border-radius: 8px;
	max-width:30rem;
	height: auto;
}

.job {
	display: flex;
	flex-wrap: nowrap;
	gap: 20px;
	width: 100%;
	border-radius: 8px;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 20px;
	}

.job-reverse {
	display: flex;
	flex-direction: row-reverse;
	gap: 20px;
	width: 100%;
	border-radius: 8px;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 20px;
	}
.contact {
	margin-right: 260px;
}

.radius {
	width: 100%;
 	height: auto;
 	display: block;
}

.end {
	height: 4px;
	background-color: #0b4d5e;
	width: 100%;
	border: none;
	width: 100%;
	margin-top: 100px;
}
.foot {
	background-color: lightgrey;
	border-radius: 8px;	
	width: 100%;
}
.galerie {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 100%;
}

.galerie-bilder {
    display: flex;
    gap: 20px;
    
}


.galerie strong {
font-size: 35px
}

.galerie-bilder img {
    width: 100%;
    max-width: 290px;
    border-radius: 8px;
}

.galerie-text {
    font-size: 16px;
}

.price-detail {
	color: darkred;
	font-size: 30px;
}

.short-info-kreuz {
list-style: square;
margin-left: 2px;
padding-left: 19px;
}

.love-piece a {
	color: darkred;
	text-decoration: none;
}
.love-piece a:hover {
	color: darkred;
	text-decoration: underline;
}
